
::selection {
  color: #ff9800;
  background: black
  
}

body {
  background: #272b33;
  overflow: hidden;
}

.logo {
  filter: invert(100%) 
  sepia(0%) 
  saturate(256%) 
  hue-rotate(246deg) 
  brightness(111%) 
  contrast(100%);
}

.container {
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.info-container {
  display: flex;
  margin: 6rem;
  justify-content: center;
}

.info {
  font-size: 64px;
  text-align: center;
  margin-inline: auto 0;
}


.chars {
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.card {
  display: flex;
  background: #3c3e44;
  border-radius: 15px;
  height: 200px;
  width: 600px;
  cursor: pointer;
  transition: ease-out 0.2s;
}

.section {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  margin-left: 1rem;
  margin-top: 0.650rem;
}

.chars * img {
  border-radius: 15px 0px 0px 15px;
  height: 200px;
  user-select: none;
}

.last-known,
.first-seen {
  color: #9e9e9e;
}

.status-icon {
  height: .5rem;
  width: .5rem;
  margin-right: 0.35rem;
  margin-bottom: 0.15rem;
  background-color: rgb(85, 204, 68);
  border-radius: 50%;
  display: inline-block;
}

.char-name {
  font-size: 25px;
  font-weight: 800;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
  
}

a:hover {
  color:#ff9800;
}

.card:hover {
  box-shadow: 0px 0px 5px #ff9800;
  transition: ease-out 0.2s;
  transform: translateY(-0.350rem);
  
}

@media (max-width:1850px) {
  .chars {
    display: grid;
    grid-template-columns: auto auto;

  }
}

@media (max-width:1450px) {
  .chars {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}